<my-spinner [visible]="isLoading"></my-spinner>
<my-user-form (userAddedEvent)="addUser($event)"></my-user-form>
<div>
  <h4>Users</h4>
  <ul class="list-group users"> 
    <li *ngFor="let user of users"
    class="list-group-item"
     [class.active]="currentUser == user"
        (click)="select(user)">
          <my-user [user]="user"
          (deleteEvent)="deleteUser($event)"
          (editEvent)="updateUser($event)"></my-user>
        <ul> <!--זוהי רשימה של טייטל-->
          <li *ngFor="let title of user.postTitles">
            {{(title|async)?.title}}
             <!--כל טייטל בלולאה הוא אובסרבבל, ורצים על מערך של אובסרבבלס -->
             <!--the left "title" (from loop and from the pipe) is observable, the right "title" is the attribute from FireBase -->
          </li>
        </ul>

    </li>
  </ul>
</div>