<h1>
   {{title}}
 </h1>
<nav>
  <a routerLink="/users" routerLinkActive="active" >Users</a> | 
  <a routerLink="/posts" routerLinkActive="active">Posts</a> | 
  <a routerLink="/products" routerLinkActive="active">Products</a>
</nav> <br/>
<router-outlet> </router-outlet>