<h4><b>Before</b> Join in DB</h4>
<table border="1" width="100%">
  <tr>
    <th>Product ID</th>
    <th>Product</th>
    <th>Cost</th>
    <th>Category Id</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.pid}}</td>
    <td>{{product.pname}}</td>
    <td>{{product.cost}}</td>
    <td>{{product.categoryId}}</td>
    <td><my-product [product]="product" (deleteEvent)="deleteProduct($event)"></my-product></td>
  </tr>
</table>

<hr>

<h4><b>After</b> Join in DB</h4>
<table border="1" width="100%">
  <tr>
    <th>Product ID</th>
    <th>Product</th>
    <th>Cost</th>
    <th>Category Name</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.pid}}</td>
    <td>{{product.pname}}</td>
    <td>{{product.cost}}</td>
    <td *ngFor="let product of product.catNames">
        {{(product|async)?.name}}</td>
  </tr>
</table>

